rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /users/{userId}/profile.jpg {
      allow read, write, delete: if false;
    }
    
    // Deny all other access by default
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}




